[submodule "doxygen-awesome-css"]
	path = tools/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "cmsis/CMSIS_6"]
	path = cmsis/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "cmsis/CMSIS-RTX"]
	path = cmsis/CMSIS-RTX
	url = https://github.com/ARM-software/CMSIS-RTX.git
[submodule "targets/TARGET_STM/TARGET_STM32U0/STM32Cube_FW/stm32u0xx-hal-driver"]
	path = targets/TARGET_STM/TARGET_STM32U0/STM32Cube_FW/stm32u0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32u0xx-hal-driver.git
[submodule "targets/TARGET_STM/TARGET_STM32U0/STM32Cube_FW/cmsis-device-u0"]
	path = targets/TARGET_STM/TARGET_STM32U0/STM32Cube_FW/cmsis-device-u0
	url = https://github.com/STMicroelectronics/cmsis-device-u0.git
[submodule "targets/TARGET_STM/TARGET_STM32F7/STM32Cube_FW/cmsis-device-f7"]
	path = targets/TARGET_STM/TARGET_STM32F7/STM32Cube_FW/cmsis-device-f7
	url = https://github.com/STMicroelectronics/cmsis-device-f7.git
[submodule "targets/TARGET_STM/TARGET_STM32F7/STM32Cube_FW/stm32f7xx-hal-driver"]
	path = targets/TARGET_STM/TARGET_STM32F7/STM32Cube_FW/stm32f7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f7xx-hal-driver.git
[submodule "targets/TARGET_STM/TARGET_STM32F4/STM32Cube_FW/cmsis-device-f4"]
	path = targets/TARGET_STM/TARGET_STM32F4/STM32Cube_FW/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "targets/TARGET_STM/TARGET_STM32F4/STM32Cube_FW/stm32f4xx-hal-driver"]
	path = targets/TARGET_STM/TARGET_STM32F4/STM32Cube_FW/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "features/frameworks/rtt/RTT"]
	path = features/frameworks/rtt/RTT
	url = https://github.com/SEGGERMicro/RTT.git
